
*.core
*.o
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
CTestTestfile.cmake
Makefile
Testing
_deps
build/
caster/caster
caster/tests
cmake-build-*/
cmake_install.cmake
compile_commands.json
install_manifest.txt
tests/test-access.log
tests/test-caster.log
